.dashboard-main-content-area {
    margin-bottom: 60px;
}

.author-img img {
    width: 105px;
    height: 105px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}

.author-img-2 img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.author-img a {
    position: relative;
}

.author-img a::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #22C55E;
    bottom: 22px;
    right: 12px;
    z-index: 1;
}

.author-2 {
    padding: 0 30px;
    border-right: 1px solid var(--gray-200);
    flex: 0 0 auto;
}

.author-2:last-child {
    border-right: 1px solid transparent;
}

.author-img-2 a::before {
    width: 6px;
    height: 6px;
    bottom: 8px;
    right: 4px;
}

.author-img a::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #ffffff;
    bottom: 18px;
    right: 8px;
}

.author-img-2 a::after {
    width: 10px;
    height: 10px;
    bottom: 6px;
    right: 2px;
}

.author-info-box {
    border: 1px solid #E2E8F0;
    border-radius: 24px;
    padding: 24px;
    background: white;
}

.author-2 h3 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--gray-600);
}

.author-2 span {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.02em;
    color: var(--gray-400);
}

.social-icon a {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray-50);
    color: var(--gray-600);
    transition: .3s linear;
}

.social-icon a:hover {
    background: var(--primary-50);
    color: var(--primary-500);
}


.author-name .name {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.01em;
    color: var(--gray-800);
    margin-bottom: 4px;
}

.author-name .info {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: var(--gray-500);
}

.edit-profile-btn button {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: white;
    transition: .3s linear;
    border-radius: 25px;
    padding: 0 39px;
    height: 48px;
    background: var(--primary-500);
    border: 1px solid transparent;
}

.author-right-top {
    margin-bottom: 20px;
}

.author-right-bottom {
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 24px;
}

.author-info-box .content {
    border-bottom: 1px solid var(--gray-200);
}

.count-card .count-title {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--gray-400);
    margin-bottom: 10px;
}

.count-card .count-number {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.01em;
    color: var(--primary-500);
}

.count-card {
    border: 1px solid var(--gray-200);
    border-radius: 8px;
    padding: 16px;
    height: 80px;
    background: var(--gray-50);
}





.skill-container {
    margin-top: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h2 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.01em;
    color: var(--gray-800);
}

.view-report {
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    text-align: right;
    color: var(--primary-500);
}




.text-dark {
    color: #1e293b;
}

.view-report {
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    text-align: right;
    color: var(--primary-500);
    transition: .3s linear;
}

.view-report:hover {
    text-decoration: underline;
}


.skill-label .skill-name,
.skill-label .skill-percent {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--gray-400);
}

.skill-label .skill-percent {
    font-weight: 600;
}

.skill-progress {
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
}

.visual-design {
    width: 82%;
    background-color: #3B82F6;
    background-image: url(../images/skill-img/skill-shape.png);
    background-repeat: no-repeat;
    border-radius: 30px;
}

.frontend-logic {
    width: 45%;
    background-color: #22C55E;
    background-image: url(../images/skill-img/skill-shape.png);
    background-repeat: no-repeat;
    border-radius: 30px;
}

.backend-architecture {
    width: 15%;
    background-color: #F59E0B;
    background-image: url(../images/skill-img/skill-shape.png);
    background-repeat: no-repeat;
    border-radius: 30px;
}

.progress-bar {
    height: 100%;
    width: 0;
    transition: width 2s ease-in-out;
}


.resume-card {
    background-color: var(--gray-900);
    margin: 24px auto;
    padding: 30px;
    border-radius: 24px;
}


.resume-label {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--warning-500);
    margin-bottom: 6px;
}

.resume-label .bullet {
    margin-right: 0.25rem;
}


.resume-title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.4;
}


.resume-module {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--gray-400);
    margin-bottom: 20px;
}

.resume-actions {
    gap: 1rem;
}

.btn-start-lesson {
    background-color: #3b82f6;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 50rem;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: background 0.3s;
}

.btn-start-lesson {
    border: 1px solid transparent;
    transition: .3s linear;
}

.btn-start-lesson:hover {
    color: #fff;
}

.next-lesson {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
}


.circular-progress {
    position: relative;
    width: 148px;
    height: 148px;
    border-radius: 50%;
    background: conic-gradient(#3B82F6 72%, #1E293B 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.circular-progress::before {
    content: "";
    position: absolute;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: #0f172a;
}

.inner-content {
    position: relative;
    z-index: 1;
    color: #ffffff;

}

.progress-number {
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.latest-achievements,
.active-roadmap-box {
    border: 1px solid var(--gray-200);
    border-radius: 24px;
    padding: 24px;
    background: white;
}

.header-2 {
    margin-bottom: 24px;
}





/* course card */
.course-card {
    background: #ffffff;
    flex: 0 0 auto;
}

/* badge */
.status-badge {
    background: #e8f8f0;
    color: #2ecc71;
    font-size: 13px;
    display: inline-block;
}

/* progress container */
.progress-2 {
    height: 8px;
    border-radius: 10px;
    background: #f0f4f7;
    overflow: hidden;
}

/* progress bar */
.progress-bar-2 {
    width: 100%;
    height: 100%;
    background: #2ecc71;
}

/* striped effect */
.progress-bar-striped-2 {
    background-image: url(../images/skill-img/skill-shape-2.png);
}

/* course info */
.course-title {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.02em;
    color: var(--gray-600);
}

.course-meta {
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    color: var(--gray-400);
}

.progress-card,
.completed-card {
    transition: .3s linear;
}

.completed-card:hover {
    border: 1px solid var(--success-500) !important;
    box-shadow: 0 18px 40px 0 rgba(30, 64, 175, 0.1) !important;
}

.progress-card:hover {
    border: 1px solid var(--primary-500) !important;
    box-shadow: 0 18px 40px 0 rgba(30, 64, 175, 0.1) !important;
}

.course-card {
    padding: 16px;
}

.course-title {
    transition: .3s linear;
}

.progress-card:hover .course-title {
    color: var(--primary-500) !important;
}

.completed-card:hover .course-title {
    color: var(--success-500) !important;
}

.status-progress {
    color: #F59E0B;
    background: #fff5e4;
}

.progress-bar-striped-advanced {
    background: var(--primary-500);
    background-image: url(../images/skill-img/skill-shape-2.png);
    width: 60%;
}



.author-wrapper::-webkit-scrollbar,
.active-roadmap-box .wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.author-wrapper::-webkit-scrollbar-track,
.active-roadmap-box .wrapper::-webkit-scrollbar-track {
    background: #eeeeeeab;
}


.author-wrapper::-webkit-scrollbar-thumb,
.active-roadmap-box .wrapper::-webkit-scrollbar-thumb {
    background: #E2E8F0;
    border-radius: 10px;
}

.author-wrapper::-webkit-scrollbar-thumb:hover,
.active-roadmap-box .wrapper::-webkit-scrollbar-thumb:hover {
    background: #bdbaba;
}

.achievements-icon {
    border-radius: 100%;
    width: 36px;
    height: 36px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.achievements-title {
    font-weight: 700;
    font-size: 10px;
    letter-spacing: -0.03em;
    color: var(--gray-600);
    white-space: nowrap;
}

.achievements-box {
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.achievements-box.box-1 {
    background: linear-gradient(180deg, rgba(255, 247, 233, 0.5) 0%, rgba(245, 158, 11, 0.5) 100%);
    border: 1px solid rgba(245, 158, 11, 0.2);
}

.achievements-box.box-2 {
    background: linear-gradient(180deg, rgba(34, 197, 94, 0.3) 0%, rgba(34, 197, 94, 0.3) 100%);
    border: 1px solid rgba(34, 197, 94, 0.2);
}

.achievements-box.box-3 {
    background: linear-gradient(180deg, rgba(245, 243, 255, 0.5) 0%, rgba(221, 214, 254, 0.5) 100%);
    border: 1px solid rgba(139, 92, 246, 0.2);
}

.achievements-box.box-4 {
    background: linear-gradient(180deg, rgba(255, 242, 242, 0.5) 0%, rgba(239, 68, 68, 0.5) 100%);
    border: 1px solid rgba(239, 68, 68, 0.2);
}

.achievements-box.box-5 {
    background: linear-gradient(180deg, rgba(37, 99, 235, 0.2) 0%, rgba(37, 99, 235, 0.2) 100%);
    border: 1px solid rgba(37, 99, 235, 0.2);
}

.achievements-box.box-6 {
    border: 1px solid var(--gray-100);
    background: var(--gray-50);
}

.achievements-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}